body{
    background-color: #EEF9BF;
}
.conteudo{
    width: 100%;
    height: 980px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #75B79E;   
}
.carta{
    width: 157px;
    height: 186px;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.frente{
    background-image: url(../images/parrot.png);
    background-position: center center;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-repeat: no-repeat;
}
.verso{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.verso-vira {
    transform: rotateY(0deg);
}
.frente-vira {
    transform: rotateY(-180deg);
}
.verso img{
    width:80%;
}
.cartas{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.relogio{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
    background-color: black;
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (max-width:934px) {
    .conteudo{
        width: 100%;
        height: 100%;
    }
    .titulo{
        text-align: center;
        font-size: 50px;
        margin-top: 15%;
        line-height: 60px;
    }
    .cartas{
        width: 100%;
        height: 95%;
    }
    .carta{
        width: 30%;
    }
    .relogio{
        width: 20%;
        height: 5%;
        font-size: 30px;
    }
}

@media (max-width:500px) {
    .cartas{
        flex-direction: column;
    }
    .carta{
        margin-left:0;
    }
}